{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Quiz</h1>

	<form action="" method="POST">
		<section>
			<h3>Question 1. Le meilleur endroit pour vous, ça serait :
			</h3>
			<div class="custom-control custom-radio">
				<input type="radio" name="q1" class="custom-control-input" value="1">
				<label class="custom-control-label" for="q1">Réponse A</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q1" class="custom-control-input" value="2">
				<label class="custom-control-label" for="q1">Réponse B</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q1" class="custom-control-input" value="3">
				<label class="custom-control-label" for="q1">Réponse C</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q1" class="custom-control-input" value="4">
				<label class="custom-control-label" for="q1">Réponse D</label>
			</div>
		</section>
		<section>
			<h3>Question 2. 22222 :
			</h3>
			<div class="custom-control custom-radio">
				<input type="radio" name="q2" class="custom-control-input" value="1">
				<label class="custom-control-label" for="q2">Réponse A</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q2" class="custom-control-input" value="2">
				<label class="custom-control-label" for="q2">Réponse B</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q2" class="custom-control-input" value="3">
				<label class="custom-control-label" for="q2">Réponse C</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q2" class="custom-control-input" value="4">
				<label class="custom-control-label" for="q2">Réponse D</label>
			</div>
		</section>
		<section>
			<h3>Question 3. 33333 :
			</h3>
			<div class="custom-control custom-radio">
				<input type="radio" name="q3" class="custom-control-input " value="1">
				<label class="custom-control-label" for="q3">Réponse A</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q3" class="custom-control-input" value="2">
				<label class="custom-control-label" for="q3">Réponse B</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q3" class="custom-control-input" value="3">
				<label class="custom-control-label" for="q3">Réponse C</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q3" class="custom-control-input" value="4">
				<label class="custom-control-label" for="q3">Réponse D</label>
			</div>
		</section>
		<section>
			<h3>Question 4. 44444 :
			</h3>
			<div class="custom-control custom-radio">
				<input type="radio" name="q4" class="custom-control-input" value="1">
				<label class="custom-control-label" for="q4">Réponse A</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q4" class="custom-control-input" value="2">
				<label class="custom-control-label" for="q4">Réponse B</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q4" class="custom-control-input" value="3">
				<label class="custom-control-label" for="q4">Réponse C</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" name="q4" class="custom-control-input" value="4">
				<label class="custom-control-label" for="q4">Réponse D</label>
			</div>
		</section>

		<button>Submit</button>

	</form>
{% endblock %}
