{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Hello Wilder !</h1>
	<p>Find a complete CRUD example on
		<a href="/items">/items</a>
		page.</p>
	<body>
		<div class="card">
			<h1>Adopte un(e)
				<!-- Scroller Start -->

				<div class="scroller">
					<span>
						Van<br/>
						Camping-car<br/>
						Bus aménagé<br/>
						Baroudeur<br/>
						Fourgon<br/>
						Combi<br/>
						Tente de toit<br/>
					</span>
				</div>

				<!-- Scroller End -->

			{% endblock %}
