{% extends 'layout.html.twig' %}

{% block content %}
	<main>
		<div class="card">
			<h1>Adopte un(e)
				<!-- Scroller Start -->
				<div class="scroller">
					<span>
						Van<br/>
						Camping-car<br/>
						Bus aménagé<br/>
						Baroudeur<br/>
						Fourgon<br/>
						Combi<br/>
						Tente de toit<br/>
					</span>
				</div>
			</h1>
		</div>
	</main>
	<!-- Scroller End -->
	<a href="/show">
		<button class="button-33" role="button">GO !</button>
	</a>
{% endblock %}
