{% extends 'layout.html.twig' %}

{% block content %}

	<div class="main-container">
		<h1>You have a match !!</h1>
		<div class="van-list" id="van-list">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">Le van aménagé</h5>
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR--na_fAENGkBXsGy2yTEWJo_fFICe6vQO03JISt5CNQ&s" class="img-fluid" alt="image de van">
				</div>
				<div class="card-footer">
					Les caractéristiques
				</div>
			</div>

		</div>
	</div>

{% endblock %}
