:root {
    --background-color: #F5C6AA;
    --primary-color: #3D191B;
    --secondary-color: #D88124;
    --third-color: #92C9E8;
    --font-family: 'Sono', sans-serif;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

#check {
    background-color: var(--secondary-color);
}

/* html body {
    height: 100vh;

} */

/* CSS */
.button-33 {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 5%;
    top: 90%;
    background-color: #F8E6D3;
    border-radius: 100px;
    box-shadow: #F8E6D3 0 -25px 18px -14px inset, rgba(3, 6, 4, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.15) 0 2px 4px, rgba(0, 1, 0, 0.15) 0 4px 8px, rgba(3, 4, 4, 0.15) 0 8px 16px, rgba(0, 0, 0, 0.15) 0 16px 32px;
    color: #3B191A;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
    font-family: var(--font-family);
}

.button-33:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 -25px 18px -14px inset, rgba(0, 0, 0, 0.25) 0 1px 2px, rgba(1, 2, 2, 0.25) 0 2px 4px, rgba(1, 1, 1, 0.25) 0 4px 8px, rgba(3, 7, 4, 0.25) 0 8px 16px, rgba(2, 3, 2, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-34 {
    width: 50%;
    background-color: #F8E6D3;
    border-radius: 100px;
    box-shadow: #F8E6D3 0 -25px 18px -14px inset, rgba(3, 6, 4, 0.15) 0 1px 2px, rgba(0, 0, 0, 0.15) 0 2px 4px, rgba(0, 1, 0, 0.15) 0 4px 8px, rgba(3, 4, 4, 0.15) 0 8px 16px, rgba(0, 0, 0, 0.15) 0 16px 32px;
    color: #3B191A;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
    font-family: var(--font-family);
}

.button-34:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 -25px 18px -14px inset, rgba(0, 0, 0, 0.25) 0 1px 2px, rgba(1, 2, 2, 0.25) 0 2px 4px, rgba(1, 1, 1, 0.25) 0 4px 8px, rgba(3, 7, 4, 0.25) 0 8px 16px, rgba(2, 3, 2, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

body {
    background-image: url('https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2021&q=80');
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
}


.adoptecard {
    position: absolute;
    border-radius: 1.5em;
    min-width: 400px;
    max-width: 1170px;
    width: 30%;
    padding: 2.6em 3.8em;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1),
        0 32px 32px rgba(0, 0, 0, 0.15),
        0 64px 64px rgba(0, 0, 0, 0.15);
}

/* Scroller styling*/
.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 8s infinite;
    font-weight: bold;

}

.quizzh1 {
    color: var(--primary-color);
    border-radius: 30px;
    background-color: rgba(248, 230, 211, 0.9);
    width: 75vw;
    font-weight: bold;
}


.quizzh3 {
    color: var(--primary-color);
    border-radius: 10px;
    background-color: rgba(248, 230, 211, 0.9);
    width: 75vw;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}



img {
    width: 300px;
}

@keyframes slide {
    0% {
        top: 0;
    }

    15% {
        top: -1.2em;
    }

    30% {
        top: -2.4em;
    }

    45% {
        top: -3.6em;
    }

    60% {
        top: -4.8em;
    }

    75% {
        top: -6em;
    }

    100% {
        top: -7.2em;
    }
}


@font-face {
    font-family: 'Sono';
    src: url(/asssets/css/fonts/Sono-VariableFont_MONO,wght.ttf), format('.ttf');
}